@import "../../variables";

.top-button-container {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 7vh;
  right: 3vw;
  background-color: $faded-blue;
  transition: 0.3s all;

  &:hover,
  &:after {
    transform: scale(1.25, 1.25);
  }

  .top-arrow {
    width: 75%;
    height: 75%;
  }
}