@import "../../variables";

.project-container-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $faded;
  // pointer-events: none;
  z-index: 100;

  .project-container {
    height: 80vh;
    width: 70vw;
    background-color: $light-light;
    z-index: 1;
    // pointer-events: none;

    .project {
      margin: 10vh 50px;

      .title-container {
        .title {
          font: $big-header-font-bold;
          color: $title-text;
        }

        .tools {
          font: $big-content-font;
          color: $jrm-green;
        }
      }
    }
  }
}
