@import "../../variables";

.skill-bar-container {
  height: 2em;
  width: 100%;
  border: 2px solid red;
  margin-bottom: 10px;

  .title {
    align-self: center;
    height: 100%;
    width: 10%;
    border: 2px solid $jrm-blue;
    margin: 0;
  }
}
