@import "../../variables";

.socials {
  font-size: 24px;
  color: $social-media;
  display: flex;
  align-items: center;
  height: 24px;
  padding-bottom: 16px;

  a,
  a:visited {
    color: $social-media;
  }

  i {
    margin: 0 12px;
  }
}

.footer .socials {
  color: $light-light;

  a,
  a:visited {
    color: $light-light;
  }
}
