@import "../../variables";

$message-padding: 2vh 3vw 0 2vw;

body {
  font: $content-font;
}

.content {
  width: 100%;
  max-height: 100%;

  span {
    color: $jrm-light-blue;
  }

  .message {
    padding: $message-padding;
  }
}

section.homepage,
section.skills {
  padding: 0;
  min-height: 100%;
}

section.about {
  background-color: $light-light;
  max-height: calc(100vh - #{$nav-height});
  padding-top: 0;

  .content {
    margin-bottom: 2vh;
  }

  .section-title-container {
    margin-top: 0;
  }

  .profile-pic-container {
    height: 250px;
  }
  .profile-pic {
    height: 100%;
  }
}

section.feed {
  background-color: $light-light;
}

section.contact {
  background-color: $jrm-orange;
  min-height: 60vh;

  .phone {
    margin: 10px;
    // width: 10em;
  }

  .email {
    margin: 10px;
    color: $header-text;
    // width: 10em;
  }

  .student-email {
    margin: 10px;
    // width: 10em;
  }

  .dot-char {
    font: $content-font;
  }
}

section.projects {
  .project-list {
    padding-bottom: 10vh;
  }
}

// svg {
//   min-width: 550px;
//   height: 510px;
//   display: block;
//   max-width: 700px;
// }

@media only screen and (max-width: 800px) {
  /* Styles */
  .splash {
    flex-wrap: wrap;
  }

  .splash svg {
    min-width: 0;
  }

  .slider {
    margin-top: 40px !important;
  }

  .member-wrapper {
    flex-wrap: wrap;

    img {
      margin: 0 auto;
    }
  }

  .leadership-wrapper .react-reveal {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 610px) {
  /* Styles */
  .splash {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  /* Styles */
  .content {
    margin-left: 0 !important;
  }
}

#calendar-mobile {
  display: none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 610px) {
  #calendar-mobile {
    display: block;
  }

  #calendar {
    display: none;
  }
}
