@import "../../variables";

body {
  font: $content-font;
}

section.homepage, section.skills {
  margin: 0;
}

.content {
  span {
    color: $jrm-light-blue;
  }

  .message {
    text-align: center;
    padding: 5vh 0;
    height: 100%;
  }
}


// svg {
//   min-width: 550px;
//   height: 510px;
//   display: block;
//   max-width: 700px;
// }

@media only screen and (max-width: 800px) {
  /* Styles */
  .splash {
    flex-wrap: wrap;
  }

  .splash svg {
    min-width: 0;
  }

  .slider {
    margin-top: 40px !important;
  }

  .member-wrapper {
    flex-wrap: wrap;

    img {
      margin: 0 auto;
    }
  }

  .leadership-wrapper .react-reveal {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 610px) {
  /* Styles */
  .splash {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  /* Styles */
  .content {
    margin-left: 0 !important;
  }
}

#calendar-mobile {
  display: none;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 610px) {
  #calendar-mobile {
    display: block;
  }

  #calendar {
    display: none;
  }
}
