@import "../../variables";

section.splash {
  height: 100vh;
  background-color: $jrm-dark;
  padding: 0;

  a {
    height: 46px;
    width: 200px;
    margin: 20px 0;
  }

  button.mailing-list {
    border: 2px solid $jrm-blue;
    box-sizing: border-box;
    border-radius: 5px;
    height: 46px;
    width: 200px;
    background-color: transparent;
    color: $jrm-blue;
    font: $title-font;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s all;

    &:hover,
    &:focus {
      background-color: $jrm-blue;
      color: white;
    }
  }

  .content {
    span {
      color: $jrm-light-blue;
    }

    .welcome-message {
      color: $light-light;
    }

    .view-my-work {
      border: 2px solid $light-light;
      color: $light-light;
      box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 46px;
      // width: 200px;
      background-color: transparent;
      padding: 0 4px 0 12px;
      font: $big-content-font;
      cursor: pointer;
      transition: 0.2s all;

      .splash-arrow {
        transition: 0.1s all;
        height: 1.3em;
        width: 1.3em;
      }

      &:hover,
      &:focus {
        background-color: $jrm-orange;
        border: 2px solid $jrm-orange;
        color: $light-light;

        .splash-arrow {
          transform: rotate(90deg);
        }
      }

      .text {
        white-space: nowrap;
        padding-right: 4px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  /* Styles */
  .splash {
    flex-wrap: wrap;
  }

  .splash svg {
    min-width: 0;
  }
}

@media only screen and (max-width: 610px) {
  /* Styles */
  .splash {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 610px) {
}
