@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@100;400;700&display=swap");

/* Colors */
$jrm-blue: #27246a;
$jrm-red: #981b1e;
$jrm-gold: #eba222;
$jrm-green: #088c45;
$jrm-grey: #9c9c9c;
$title-text: #3d4449;
$light: #aaaaaa;
$subtitle: #7f888f;
$light-light: #ededed;
$social-media: #bbbbbb;
$faded-blue: rgba(39, 36, 106, 0.1);

/* Fonts */
$title-font: "Roboto Slab", serif;
$content-font: "Open Sans", sans-serif;
