@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@100;400;700&display=swap");

/* Colors */
$jrm-blue: #27246a;
$jrm-dark: #303445;
$jrm-dark-blue: #003049ff;
$jrm-dark-blue-opaque: rgba(50, 13, 115, 0.4);
$jrm-red: #981b1e;
$jrm-orange: #f77f00ff;
$jrm-yellow: #fcbf49ff;
$jrm-gold: #eba222;
$jrm-green: #088c45;
$jrm-light-blue: #60eafc;
$jrm-grey: #9c9c9c;
$jrm-beige: #eae2b7ff;
$jrm-maroon: #3c0919ff;
$jrm-light-grey: #eff1edff;
$jrm-light-green: #c4d6b0ff;
$title-text: #31363a;
$header-text: #3d4449;
$text: #404a50;
$subtitle: #adadad;
$light: #aaaaaa;
$light-light: #ededed;
$social-media: #bbbbbb;
$faded-blue: #20245f1a;
$faded: #ffffff8c;

/* Fonts */
$title-font-bold: bold 36pt/1.25 "Avenir", sans-serif;
$title-font: 36pt/1.25 "Avenir", sans-serif;
$big-header-font-bold: bold 28pt/1.25 "Avenir", sans-serif;
$big-header-font: 28pt/1.25 "Avenir", sans-serif;
$header-font-bold: bold 20pt/1.25 "Avenir", sans-serif;
$header-font: 20pt/1.25 "Avenir", sans-serif;
$small-header-font-bold: bold 18pt/1.25 "Avenir", sans-serif;
$small-header-font: 18pt/1.25 "Avenir", sans-serif;
$big-content-font-bold: bold 16pt/1.25 "Avenir", sans-serif;
$big-content-font: 16pt/1.25 "Avenir", sans-serif;
$content-font-bold: bold 12pt/1.25 "Avenir", sans-serif;
$content-font: 12pt/1.25 "Avenir", sans-serif;
$small-content-font-bold: bold 10pt/1.25 "Avenir", sans-serif;
$small-content-font: 10pt/1.25 "Avenir", sans-serif;
