@import "variables";

body,
html {
  margin: 0;
  padding: 0;
}

section {
  margin: 12vh 10vw;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font: $header-font;
  padding: 10px 20px;
  transition: all 0.5s;
}

h1, .h1 {
  font: $title-font;
  color: $title-text;
  text-align: center;
  margin-bottom: 20px;
}

h2, .h2 {
  font: $big-header-font-bold;
  color: $header-text;
  text-align: center;
  margin-bottom: 10px;
}

h3, .h3 {
  font: $header-font;
  color: $header-text;
  text-align: center;
  margin-bottom: 10px;
}

h4, .h4 {
  font: $small-header-font;
  color: $header-text;
  text-align: center;
  margin-bottom: 10px;
}

// h1 + p {
//   font: $title-font;
//   color: $subtitle;
//   margin-top: 4px;
// }

p {
  font: $content-font;
  color: $text;
}

a {
  text-decoration: none;
  &:visited {
    color: currentColor;
  }
}

.main-content {
  min-height: 60vh;
}

.section-title {
  position: relative;
  width: max-content;
  margin: 0;
  text-transform: uppercase;
}

.header-underline {
  background: $title-text;
  height: 4px;
  width: 75px;
  margin: 2vh 0 5vh 0;
}

.profile-pic {
  margin: 24px;
}

.fancy {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;

  &::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.2s all;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 100%;
    }
  }
}
